.cover-container {
    max-width: 60vw
}
body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Tent_camping_along_the_Sulayr_trail_in_La_Taha%2C_Sierra_Nevada_National_Park_%28DSCF5147%29.jpg/640px-Tent_camping_along_the_Sulayr_trail_in_La_Taha%2C_Sierra_Nevada_National_Park_%28DSCF5147%29.jpg");
    background-size: cover;
    background-position: center;
}
.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5) !important;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}
.nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}